# Ignore system files and personal directories
Application Data/
Cookies/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/
OneDrive/
Desktop/
Documents/
Downloads/
Music/
Pictures/
Videos/
Saved Games/
Searches/
Cisco Packet Tracer*/
VirtualBox VMs/
.vscode/
.ssh/
AppData/
node_modules/
comp2156@1.0.0/
11.1.0/
react-scripts/
*.log
*.save
*.dat
*.ini
*.sh
*.pdf

