# Ignore system and personal files
Application Data/
Cookies/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/
OneDrive/
Desktop/
Documents/
Downloads/
Pictures/
Videos/
node_modules/
